<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Document</title>
	<style>
		span {
			margin: 10px;
		}
	</style>
</head>
<body>
	<div class="wrapper" id="cart">
			<item-bar v-for="(item, index) in list" :key="index" :data="item" :index="index"></item-bar>
			总价： 
			<price-bar :data="total"></price-bar>
		</div>
		<script src="../node_modules/vue/dist/vue.js"></script>
		<script src="app.js"></script>
</body>
</html>